body {
  background-color: #1b1b32;
  color: #f5f6f7;
  font-family: Tahoma;
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

main {
  display: flex;
  flex-wrap: wrap;


}

.avatar-and-description {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

section {
  width: 48%;
  margin-top: 30px;
  background-color: #1f1f44;
  margin-left: 10px;
  padding-left: 10px;

}

.navigation-list {
  display: flex;
  justify-content: right;
  list-style: none;
  background-color: #1f1f44;
  padding: 20px 0;
  margin: 0;

}

.navigation-list :last-child {
  margin-right: 10px;
}

.navigation-item {
  padding-left: 30px;
}

img {
  min-width: 250px;
  margin-right: 40px;
}

footer {
  margin-top: 10px;
  background-color: #1f1f44;
  padding-bottom: 1px;
}

footer img {
  width: 40px;
  height: 40px;
}

footer ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}